/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";

@import "2014/2014";

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.workshops {
  form {
    label, input, select {
      text-align: left;
    }

    .error {
      label {
        color: red;
      }
    }

    button[disabled] {
      background: #EEE;
      color: #AAA;
    }

    .message {
      &.error {
        color: red;
      }
    }
  }
}

#agenda {
  .row {
    .omega {
      background-color: #EEE;
      border: solid 1px #CCC;

      @include border-radius(4px, 4px);
    }
  }
}

table.lista-interna {
  border: none;
  width: 100%;
  font-size: 0.95em;
  margin-bottom: 10px;

  thead {
    tr {
      font-weight: bold;

      &:last-of-type {
        border-bottom: solid 1px #ccc;
      }
    }
  }

  tbody {
    tr {
      td {
        text-align: left;

        &.workshop {
          font-size: 0.9em;
          background-color: #EEE;
          border: solid 1px #DDD;
          @include border-radius(4px, 4px);
        }

        &.center {
          text-align: center;
        }
      }
    }
  }
}
